
.order-item {
    display: flex;
    background-color: rgba(250,240,230,0.75);
    border: 2px solid whitesmoke;
    border-radius: 12px;
    color: black;
    margin: 10px 10px 30px 10px;
    padding: 10px;
}

.order-item:hover {
    background-color: rgba(250,240,230,1.0);
    border: 2px solid black;
}