@inherits LayoutComponentBase

<div class="page">

    <div class="header">
        <a href="/" style="align-self: start;margin-left: 20px; margin-right: auto; width: 100%;">
            <img src="/nsc-logo.png" style="max-height: 100px;" />
        </a>
    </div>

    <div class="sidebar" style="margin-top:100px;">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="margin-top:100px;">
            @Body
        </article>
    </main>
</div>
